{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email imanuel.marchell@gmail.com
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
wp-1.marchell.com {
    encode zstd gzip

    reverse_proxy wordpress:8080
    header {
        # enable HSTS
        Strict-Transport-Security max-age=31536000;
        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff
        # clickjacking protection
        X-Frame-Options DENY
        # keep referrer data off of HTTP connections
        Referrer-Policy no-referrer-when-downgrade
        # Content-Security-Policy: default-src 'self'
    }
}
www.wp-1.marchell.com {
    redir https://wp-1.marchell.com{uri}
}